<ul class="nav nav-tabs justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/portfolio">Portfolio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/news">News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/aichatbot">AI Chat Bot</a>
    </li>
  </ul>
  <p></p>
  <h5>Note:- Upon clicking any of the refresh news or news or portfolio or update portfolio or analyse or buy or sell buttons please wait for around 30 to 40 seconds as it takes time to search and load the real time market data. For best user experience use when the Indian Trading Market is open.</h5>
  <p></p>
  {% block content %} 
    {% endblock %}
